body {
    background-color: #EDCFE4 !important;
}

.app-text {
    font-size: 36px;
    font-family: 'Irish Grover';
    color: #564D53;
}

.list-group-item {
    font-size: 36px;
    font-family: 'Irish Grover';
    color: #564D53 !important;
    background-color: #D3A7C6 !important;
    text-align: center;
    border: none !important;
    border-radius: 0 !important;
}

.list-group {
    margin-top: 20px;
    border: 5px solid #564D53 !important;
    border-radius: 0 !important;
}

.app-button {
    margin-left: 2rem;
    margin-right: 2rem;
}

.app-button:hover {
    opacity: 85%;
    cursor: pointer;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D3A7C680;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error-message {
    background-color: #D3A7C6;
    color: #564D53;
    font-size: 36px;
    font-family: 'Irish Grover';
    border: 15px solid #564D53;
    padding: 30px;
    padding: 30px 80px 30px 70px;
    border-radius: 5px;
    position: relative;
}

.error-close-btn {
    color: #564D53;
    background-color: #D3A7C6;
    font-size: 40px;
    border: none;
    position: absolute;
    top: 0px;
    right: 10px;
}

.reset-btn {
    color: #564D53;
    background-color: #D3A7C6;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 150px;
    border: 5px solid #564D53;
    font-family: 'Irish Grover';
    padding: 5px 30px 5px 30px;
}