.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.container > * {
    margin: 2rem;
}

.icons-row {
    display: flex;
}

.file-selected-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-selected-display > * {
    margin: 2rem;
}